<mat-form-field>
  <input matInput placeholder="Nombres" [(ngModel)]="cliente.nombres">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Apellidos" [(ngModel)]="cliente.apellidos">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="FechaNac" [(ngModel)]="cliente.fechaNac">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="DNI" [(ngModel)]="cliente.dni">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="USUARIO" [(ngModel)]="usuario.nombre">
</mat-form-field>

<mat-form-field>
  <input matInput type="password" name="password" placeholder="CLAVE" [(ngModel)]="usuario.clave">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Estado" value="ACTIVO" readonly>
</mat-form-field>


<button mat-button color="primary" onclick="document.getElementById('flArchivo').click()">Seleccionar archivo</button>
<input id="flArchivo" type="file" (change)="selectFile($event)"  style="display:none;" >

<img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
<p>{{labelFile}}</p>

<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>